<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ username }} - Pyista</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="my-4">{{ username }}</h2>
        <span>Total Posts: {{ posts_count }}</span>
        <div class="row">
            {% for i in data %}
                {% if not i.src_attached %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="{{ i.src }}" class="card-img-top w" alt="{{ i.captions }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ i.captions }}</h5>
                                <p class="card-text">Views: {{ i.views }}</p>
                                <p class="card-text">Likes: {{ i.likes }}</p>
                                <p class="card-text">{{ i.formatted_date }}</p>
                                {% if i.video_url %}
                                <a class="card-text" href="{{ i.video_url }}"rel="noreferrer nofollow" target="_blank">view</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                
                {% else %}
                    {% for url in i.src_attached %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img src="{{ url }}" class="card-img-top w" alt="{{ i.captions }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ i.captions }}</h5>
                                    <p class="card-text">Views: {{ i.views }}</p>
                                    <p class="card-text">Likes: {{ i.likes }}</p>
                                    <p class="card-text">{{ i.formatted_date }}</p>
                                    {% if i.video_url %}
                                    <a class="card-text" href="{{ i.video_url }}"rel="noreferrer nofollow" target="_blank">view</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
